{% extends "base.html" %}

{% block content %}
<nav class="post-nav-bar">
    <a class="post-nav-item" href="{{ get_url(path='/') | safe }}">近期发布</a>
    <a class="post-nav-item" href="{{ get_url(path='/categories/') | safe }}">分类</a>
    <a class="post-nav-item" href="{{ get_url(path='/tags/') | safe }}">标签</a>
    <a class="post-nav-item active" href="{{ get_url(path='/archive/') | safe }}">归档</a>
    <a class="post-nav-item" href="{{ get_url(path='/rss/') | safe }}">RSS 订阅</a>
</nav>

<div class="archive-container">
    {% set posts_section = get_section(path="post/_index.md") %}
    {% set all_pages = posts_section.pages %}
    {% for page in all_pages %}
    {% set y = page.date | date(format="%Y") %}
    {% if loop.index0 == 0 %}
    <div class="archive-year">{{ y }}</div>
    {% else %}
    {% set prev = all_pages | nth(n=loop.index0 - 1) %}
    {% if y != prev.date | date(format="%Y") %}
    <div class="archive-year">{{ y }}</div>
    {% endif %}
    {% endif %}
    <div class="archive-item">
        <time class="archive-date">{{ page.date | date(format="%m-%d") }}</time>
        <a class="archive-title" href="{{ page.permalink }}">{{ page.title }}</a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
