{% extends "base.html" %}

{% block title %}标签 | {{ config.title }}{% endblock %}

{% block content %}
<nav class="post-nav-bar">
    <a class="post-nav-item" href="{{ get_url(path='/') | safe }}">近期发布</a>
    <a class="post-nav-item" href="{{ get_url(path='/categories/') | safe }}">分类</a>
    <a class="post-nav-item active" href="{{ get_url(path='/tags/') | safe }}">标签</a>
    <a class="post-nav-item" href="{{ get_url(path='/archive/') | safe }}">归档</a>
    <a class="post-nav-item" href="{{ get_url(path='/rss/') | safe }}">RSS 订阅</a>
</nav>
{% set tax = get_taxonomy(kind="tags") %}
<div class="tax-page-tags">
    {% for term in tax.items %}
    <a class="tax-tag-item" href="{{ term.permalink }}">#{{ term.name }}</a>
    {% endfor %}
</div>
{% endblock content %}
